*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    /*border: 1px solid;*/
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #fff;
    color: #333;
    font: 1em / 1.4 Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 1em;
    margin: 0;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

form {
    margin-top: 2em;
}

h2 {
    background: rgba(23, 58, 123, 0.9);
    color: white;
    justify-content: center;
    padding: 0.5em 1em;
    border-radius: 5px;
}

li {
    padding: 0.5em;
    display: flex;
}

input {
    flex: 1;
}

label {
    margin-right: 10px;
}

button {
    background: none;
    padding: 1em 2em;
    text-transform: uppercase;
    border: rgba(23, 58, 123, 0.9) solid 5px;
    border-radius: 2em;
    margin: 0 auto;
}

button:hover,
button:focus {
    border: none;
    background: rgba(23, 58, 123, 0.9);
    color: #fff;
}
